---

all:
  vars:
    network: '10.0.4.0/24'

  children:

    'manager':
      hosts:
        'manager':
          ansible_host: manager-s1.internal
          hostname: manager-s1.internal
          ipv4_address: '10.0.4.40'

    'workers':
      hosts:
        'worker-1':
          ansible_host: worker-n1-s1.internal
          hostname: worker-n1-s1.internal
          ipv4_address: '10.0.4.41'
        'worker-2':
          ansible_host: worker-n2-s1.internal
          hostname: worker-n2-s1.internal
          ipv4_address: '10.0.4.42'
